@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: flex-end;

    font-family: 'Open Sans', sans-serif;
    /*background-color: mintcream;*/
    background-image: linear-gradient(to bottom right, #e52d3e, #5f257a);
    /*color: darkslategray;*/
    color: whitesmoke;
}

nav {
    width: 100%;
    /*color: #e5f6ea;*/
    background-color: rgba(230, 250, 230, .1);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 7vh;
    padding-bottom: 2vh;
    padding-top: 1vh;
    color: #ffffff;
}

div.container {
    min-width: 90vw;
    padding: 1vw;
    padding-top: 0;
}

#big-ass-box {
    height: 68vh;
    overflow: auto;
    padding-top: 2vh;
    width: 95vw;
}

h1 {
    margin-top: 0;
}

.bottom > p {
    text-align: center;
}

#result {
    border: 3px solid darkslategray;
    width: 90%;
    height: 2vh;
    margin: auto;
}

#result #progress {
    height: 100%;
    transition: width 0.5s, background-color 0.25s;
}

#progress {

}

.gem {
    width: 1em;
    height: 1em;
    /*fill: darkslategray;*/
}

.space:hover {
    transition: color 0.25s;
    color: skyblue;
}

.mind:hover {
    transition: color 0.25s;
    color: darkorange;
}

.reality:hover {
    transition: color 0.25s;
    color: firebrick;
}

.power:hover {
    transition: color 0.25s;
    color: rebeccapurple;
}

.time:hover {
    transition: color 0.25s;
    color: limegreen;
}

.bottom {
    margin-top: auto;
    bottom: 0;
    position: fixed;
    /*background-color: mintcream;*/
    width: 100%;
    /*padding-left: 3vw;*/
    box-sizing: border-box;
    /*background-color: #ecf5ee;*/
}

a#twitter-share {
    background-color: #1b95e0;
    padding: 5px 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    align-self: center;

}

a#twitter-share:hover {
    background-color: #319fe3;
}